.pio/
.pioenvs/
.piolibdeps/
.pio_home/
.pio-core/
.platformio_local/

.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd

.cache/
.clangd
*.log
*.tmp

compile_commands.json
src/**/build/
src/**/output/

*.bak

Archive/
webxr/platform-tools/
